<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report 1</title>
</head>
<body>
<form th:action="@{/report1}" method="post">
    <h2>Candidate từng làm admin tại công ty X</h2>
    <label>
        <input id="company" name="company" required>
    </label>
    <button type="submit">Search</button>

    <h2>LIST CANDIDATES</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>View</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="candidate : ${candidates}">
            <td th:text="${candidate.id}"></td>
            <td th:text="${candidate.fullName}"></td>
            <td th:text="${candidate.email}"></td>
            <td th:text="${candidate.phone}"></td>
            <td><a th:href="@{/view/{id}(id=${candidate.id})}">View</a></td>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>